chardet==5.2.0
click==8.1.8
colorama==0.4.6
coverage==7.6.10
diff_cover==9.2.1
flake8==7.1.1
iniconfig==2.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
mirakuru==2.5.3
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
port-for==0.7.4
psutil==6.1.1
psycopg==3.2.3
psycopg2==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-postgresql==6.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
setuptools==75.7.0
six==1.17.0
sqlfluff==3.3.0
tblib==3.0.0
tqdm==4.67.1
tzdata==2024.2
wheel==0.45.1
