appnope==0.1.4
asttokens==3.0.0
chardet==5.2.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
coverage==7.6.10
debugpy==1.8.11
decorator==5.1.1
diff_cover==9.2.1
-e git+https://github.com/DE-2410-A/etl-example.git@3e2893cde91806a20f66da448390352252ae6aba#egg=etl_example
executing==2.1.0
flake8==7.1.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.31.0
jedi==0.19.2
Jinja2==3.1.5
jupyter_client==8.6.3
jupyter_core==5.7.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mirakuru==2.5.3
nest-asyncio==1.6.0
numpy==2.2.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.3.6
pluggy==1.5.0
port-for==0.7.4
prompt_toolkit==3.0.48
psutil==6.1.1
psycopg==3.2.3
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-postgresql==6.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
regex==2024.11.6
setuptools==75.7.0
six==1.17.0
SQLAlchemy==2.0.37
sqlfluff==3.3.0
stack-data==0.6.3
tblib==3.0.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
wcwidth==0.2.13
wheel==0.45.1
